:root {
    --btn-width: calc(100vw/4);
  }


#Selection_Container>div {
    margin: 20px 20px;
    display: grid;
    height: 200px;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 20px 20px;
}

#Selection_Switch {
    background-color: rgb(41, 41, 41);
}

#Selection_Switch button{
    border-radius: 0px;
    height: 5vh;
    width: 5vh;
}

#Selection_Switch>button.active{
    background-color: rgb(161, 32, 32);
}

#Selection_Container>div>div {
    aspect-ratio: 1
}

#Selection_Container button{
    width: 100%;
    height:100%;
    border-radius: 0.3em;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    border: 2px solid rgb(128, 128, 128);
}


#Canvas_Container{
    
}

#SaveImg{
    position: absolute;
    right:8px
}

#MainWindow{
    width:100%;
    position: relative;
}

#ModelCanvas{
    width: 100%;
}
