:root {
    --btn-width: calc(100vw/4);
  }

#Selection_Container>div {
    margin: 20px 20px;
    display: grid;
    height: 200px;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 20px 20px;
}

#Selection_Switch {
    background-color: rgb(41, 41, 41);
}

#Selection_Switch button{
    border-radius: 0px;
    height: 15vw;
    width: 15vw;
    max-width: 75px;
    max-height: 75px;
    background-size: 60% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border: 0px;
}

#Selection_Switch>button.active{
    background-color: rgb(161, 32, 32) !important;
}



#Selection_Container>div>div {
    aspect-ratio: 1
}

#Selection_Container{
    overflow-y: scroll;
}

#Selection_Container button{
    width: 100%;
    height:100%;
    border-radius: 0.3em;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    border: 2px solid rgb(128, 128, 128);
}

.SelectionBtn_Container {
    position: relative;
}

.SelectionBtn_Container .SelectedMark{
    display: none;
    position: absolute;
    font-size: 1em;
    top: 3px;
    left: 5px;
}

.SelectionBtn_Container  .SelectedMark[aria-label='show']{
    display: block;
}


#Canvas_Container{
    background-image: url('../9696_img/BG/Background.png');
    background-size: cover;
}

#SaveImg{
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 15px;
    right: 10px;
    top:10px;
}
#SaveImg{
    display: flex;
    align-items: center;
    justify-content: center;
}

#MainWindow{
    width:100%;
    max-width: 500px;
    position: relative;
}

#ModelCanvas{
    width: 100%;
}
