.SelectionBtn{
    width:100px;
    height:100px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 5px;
    background-color: white;
}

#Selection_Switch,
#Selection_Container{
    margin-top: 10px;
}

#Selection_Switch button,
#Selection_Container button{
    margin-left: 10px;
}

#Canvas_Container{
    margin: 10px;
}

#SaveImg{
    position: absolute;
    right:8px
}

#MainWindow{
    width:340px;
    position: relative;
}
